html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0,1,1,0.20);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-align: center;
  position: relative;
}

.main-header-logo {
  width: 138px;
  height: 71px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  margin: 0;
  padding: 14px 57px 16px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-navigation li {
  width: 239px;
}

.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:not([href]) {
  color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  background-color: #FFFFFF;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81B3D2
}

.site-navigation a:active {
  color: rgba(129,179,210,0.3);
}

.main-photo {
  background-image: url("../img/svg/intro-mask.svg"), url("../img/svg/intro-welcome.svg"), url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 57px, 458px 352px, 1200px 800px;
  background-position: center 454px, center 80px, center -57px;
  height: 509px;
}

.main-slogan {
  background-color: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 48px;
  width: 500px;
  margin: 0 auto;
}

.main-slogan-title,
.main-slogan-description {
  margin: 0;
  padding: 0;
}

.main-slogan-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 26px;
}

.reasons-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.reasons-list,
.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reason-wrapper {
  display: flex;
  width: 1200px;
}

.reason-marked {
  background-color: #81B3D2;
  color: #FFFFFF;
  line-height: 21px;
  position: relative;
}

.reason-marked.left::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 256px;
  top: 0;
  left: 100%;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reason-marked.right::before {
  content: "";
  position: absolute;
  width: 800px;
  height: 256px;
  top: 0;
  right: 100%;
  background-image: url("../img/bridge.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reason-marked.right {
  margin-left: auto;
}

.reason-marked,
.reason-plain {
  width: 400px;
  padding: 47px 49px 52px 43px;
}

.reason-marked .reason-title-marked {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 30px;
}

.reason-marked p,
.reason-marked h3 {
  padding: 0;
  margin: 0;
}

.reason-marked .reason-number-marked {
  margin-bottom: 22px;
}

.reason-plain {
  background-color: #EEEEEE;
  line-height: 21px;
}

.reason-title {
  font-size: 21px;
  font-weight: 700;
}

.real-city-advantages {
  background-color: #FFFFFF;
  line-height: 21px;
}

.advantages-list {
  list-style: none;
  display: flex;
}

.advantage {
  width: 400px;
  padding-top: 157px;
  padding-bottom: 83px;
}

.advantage-house,
.advantage-food,
.advantage-gift,
.advantage-description {
  margin: 0;
}

.advantage-house,
.advantage-food,
.advantage-gift {
  position: relative;
  font-size: 21px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 25px;
}

.advantage-house::before {
  content: "";
  position: absolute;
  top: -106px;
  left: 50%;
  margin-left: -37px;
  width: 72px;
  height: 72px;
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-food::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 50%;
  margin-left: -37px;
  width: 75px;
  height: 70px;
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantage-gift::before {
  content: "";
  position:absolute;
  top: -112px;
  left: 50%;
  margin-left: -33px;
  width: 64px;
  height: 77px;
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.pre-map-container {
  line-height: 24px;
  background-color: #FFFFFF;
  width: 568px;
  margin: 55px auto 35px;
}

.description-capitalized {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0 0;
  margin-bottom: 40px;
}

.hotel-button {
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  width: 568px;
  padding: 28.5px 30px 31.5px 30px;
  z-index: 1;
}

.hotel-button:hover,
.hotel-button:focus {
  background-color: #604E43
}

.hotel-button:active {
  background-color: #503E33;
  color: rgba(255,255,255,0.3);
}

.search-form {
  width: 568px;
  padding: 55px;
  box-shadow: 0 7px 15px 0 rgba(0,1,1,0.15);
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  z-index: 3;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-show {
  transform: scale(1);
  transition: ease-in-out 1s;
}

.modal-hide {
  transform: scale(0);
}

.modal-error {
  animation: shake 0.6s;
}

.choose-date {
  display: flex;
  width: 100%;
  margin-bottom: 29px;
  align-items: center;
  position: relative;
}

.button-label {
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  width: 94px;
  margin-right: 17px;
  flex-shrink: 0;
}

.button-label.kids {
  width: 48px;
}

.date-field,
.number-field {
  background-color: #F2F2F2;
  border: none;
  line-height: 26px;
  font-weight: 700;
  font: inherit;
  text-transform: inherit;
  color: #000000;
  text-align: left;
}

.date-field::-webkit-input-placeholder,
.number-field::-webkit-input-placeholder {
  color: #000000;
  font-weight: 700;
}

.date-field::-moz-placeholder,
.numner-field::-moz-placeholder {
  color: #000000;
  font-weight: 700;
}

.date-field:-moz-placeholder,
.number-field:-moz-placeholder {
  color: #000000;
  font-weight: 700;
}

.date-field:-ms-input-placeholder,
.number-field:-ms-input-placeholder {
  color: #000000;
  font-weight: 700;
}

.date-field {
  width: 100%;
  padding: 7px 40px 7px 13px;
  height: 38px;
}

.calendar {
  width: 21px;
  height: 23px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.calendar:hover svg path,
.calendar:focus svg path {
  fill: #000000;
}

.calendar:active svg path {
  fill: #81B3D2;
}

.date-field:hover,
.number-field:hover  {
  background-color: #EBEBEB;
}

.date-field:focus,
.number-field:focus {
  background-color: #FFFFFF;
}

.guests-wrapper {
  display: flex;
  width: 458px;
  justify-content: space-between;
  margin-bottom: 54px;
}

.choose-guests {
  width: 225px;
  display: flex;
  align-items: center;
}

.choose-guests.kids {
  width: 178px;
}

.guests-count {
  display: flex;
  align-items: center;
}

.plus-button {
  background-color: #F2F2F2;
  border: none;
  width: 38px;
  height: 38px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus-button:hover svg,
.plus-button:focus svg {
  fill: #000000;
}

.plus-button:active svg {
  fill: #81B3D2;
}

.number-field {
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
}

.find-button {
  color: #ffffff;
  background-color: #81B3D2;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  width: 100%;
  padding: 15.5px 30px 16.5px;
}

.find-button:hover,
.find-button:focus {
  background-color: #669EC0;
}

.find-button:active {
  background-color: #5496BD;
  color: rgba(255,255,255,0.3);
}

.map-wrapper {
  position: relative;
}

.map-image {
  vertical-align: top;
}

.map iframe {
  vertical-align: top;
  position: relative;
  z-index: 2;
  border: none;
}

.main-footer {
  background-color: rgba(255,255,255,0.9);
  display: flex;
  padding-top: 38px;
  padding-bottom: 41px;
  align-items: center;
  justify-content: center;
  width: 1200px;
}

.main-footer-index {
  background-color: rgba(255,255,255,0.9);
  display: flex;
  padding-top: 38px;
  padding-bottom: 41px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: -127px 0 0;
}

.main-footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 33.333333%;
  margin: 0;
}

.main-footer-hashtag a {
  text-decoration: none;
  color: #000000;
  align-items: center;
}

.main-footer-hashtag a:hover,
.main-footer-hashtag a:focus {
  color: #81B3D2;
}

.main-footer-hashtag a:active {
  color: rgba(0,0,0,0.3);
}

.main-footer-social {
  margin: 0;
  padding: 0;
  width: 33.333333%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-footer-social a {
    color: #000000;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  cursor: pointer;
}

.social-button:last-child {
  margin-right: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: #669EC0;
}

.social-button:active {
  background-color: #5496BD;
}

.social-button:active svg path {
  fill: #87B5D0;
}

.main-footer-developer {
  line-height: 26px;
  color: #000000;
  margin: 0;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer-description {
  margin-right: 8px;
}

.developer-link {
  width: 115px;
  height: 41px;
  cursor: pointer;
}

.developer-link:hover svg path,
.developer-link:focus svg path {
  fill: #81B3D2;
}

.developer-link:active svg path {
  fill: #BDBBBC;
}

.filter {
  background-color: #41759F;
  background-image: url("../img/filter-background.jpg");
  background-position: center -58px;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: flex;
  padding: 30px 72px;
}

.filter-section {
  border: none;
  width: 169px;
  margin: 0;
  margin-right: 85px;
  padding: 0;
}

.filter-title,
.price-range-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.filter-title {
  margin-bottom: 25px;
}

.filter-list {
  list-style: none;
  line-height: 21px;
  text-align: left;
  padding: 0;
  padding-left: 10px;
  margin: 0;
}

.filter-item {
  margin-bottom: 21px;
  padding-left: 40px;
  position: relative;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.checkbox-label {
  display: block;
  cursor: pointer;
  user-select: none;
}

.checkbox:checked + .checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.checkbox:not(:checked) + .checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
}

.checkbox:checked:disabled + .checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on-dis.svg");
}

.checkbox:not(:checked):disabled + .checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off-dis.svg");
}

.checkbox:disabled + .checkbox-label {
  color: #6A6A6A;
  cursor: default;
}

.checkbox:checked:hover + .checkbox-label::before,
.checkbox:checked:focus + .checkbox-label::before {
  opacity: 0.7;
}

.checkbox:not(:checked):hover + .checkbox-label::before,
.checkbox:not(:checked):focus + .checkbox-label::before {
  opacity: 0.7;
}

.checkbox:hover + .checkbox-label,
.checkbox:focus + .checkbox-label {
  opacity: 0.7;
}

.price-range {
  color: inherit;
  text-transform: inherit;
  border: none;
  margin-left: auto;
  padding: 0;
}

.price-range-title {
  margin-bottom: 9px;
  text-align: left;
}

.price-controls {
  width: 318px;
  height: 36px;
  margin-bottom: 20px;
  padding: 11px 29px 8px 65px;
  border: 2px solid #ffffff;
  position: relative;
  display: flex;
  align-items: center;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  font-size: inherit;
  line-height: 21px;
  vertical-align: center;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
}

.price-controls .max-price {
  margin-left: 51px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 20px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/filter-button.svg");
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.range-toggle:hover,
.range-toggle:focus,
.range-toggle:active {
  transform: scale(1.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.show-button {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  vertical-align: middle;
  text-transform: inherit;
  line-height: 21px;
  border: 2px solid white;
  margin: 0 auto;
  padding: 5px 32px 4px 35px;
  cursor: pointer;
}

.show-button:hover,
.show-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotel-sorting {
  background-color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
  padding: 32px 73px 27px;
  align-items: center;
}

.hotel-found {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-right: 49px;
}

.sorting-type {
  font-size: 12px;
  font-weight: inherit;
  margin: 0;
  margin-right: 40px;
}

.sorting-list,
.sorting-direction {
  list-style: none;
}

.sorting-list {
  width: 680px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.sorting-list-item {
  margin-right: 30px;
}

.sorting-list-item a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81B3D2;
  position: relative;
}

.sorting-list-item a:not([href]) {
  color: #81B3D2;
  border-bottom: none;
}

.sorting-list-item a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.sorting-list-item a:focus {
  color: #000000;
}

.sorting-list-item a:active {
  color: #81B3D2;
}

.sorting-direction {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  width: 34px;
  justify-content: space-between;
  cursor: pointer;
}

.sorting-direction-item a {
  color: #CACACA;
}

.sorting-direction-item a:not([href]) {
  color: #81B3D2;
}

.sorting-direction-item:hover svg path,
.sorting-direction-item:focus svg path {
  fill: #000000;
}

.sorting-direction-item:active svg path {
  fill: #81B3D2;
}

.hotel-container {
  background-color: #FFFFFF;
  text-align: left;
  min-height: 150px;
  display: flex;
  padding: 26px 71px 30px 72px;
  border-bottom: 1px solid #E5E5E5;
}

.hotel-img {
  width: 135px;
  margin-right: 30px;
  background-repeat: no-repeat;
}

.amara {
  background-image: url("../img/amara-resort.jpg");
}

.desert {
  background-image: url("../img/desert-quail.jpg");
}

.villas {
  background-image: url("../img/villas.jpg");
}

.hotel-description {
  text-align: left;
  width: 550px;
}

.hotel-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 8px;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81B3D2;
}

.hotel-title a:active {
  color: rgba(0,0,0,0.3);
}

p.hotel-links,
p.hotel-stars,
p.hotel-rating-number {
  margin: 0;
}

.hotel-type-price {
  color: #333333;
  line-height: 21px;
  margin-top: 0px;
  margin-bottom: 9px;
}

.hotel-links {
  font-weight: 700;
  color: #FFFFFF;
  display: flex;
  line-height: 21px;
  align-items: center;
}

.hotel-details-link {
  background-color: #81B3D2;
  color: inherit;
  padding: 3px 16px 5px 17px;
  margin-right: 6px;
}

.hotel-details-link:hover,
.hotel-details-link:focus {
  background-color: #669EC0;
}

.hotel-details-link:active {
  background-color: #5496BD;
  color: rgba(255,255,255,0.3);
}

.hotel-book-link {
  background-color: #766357;
  color: inherit;
  padding: 4px 16px;
}

.hotel-book-link:hover,
.hotel-book-link:focus {
  background-color: #604E43;
}

.hotel-book-link:active {
  background-color: #503E33;
  color: rgba(255,255,255,0.3);
}

.hotel-type {
  margin-right: 36px;
}

.hotel-stars {
  background-image: url("../img/svg/star.svg");
  background-repeat: space;
  height: 17px;
  margin-left: auto;
  margin-bottom: 48px;
}

.stars-4 {
  width: 89px;
}

.stars-3 {
  width: 64px;
}

.stars-2 {
  width: 41px;
}

.hotel-rating-number {
  background-color: #F2F2F2;
  color: #666666;
  line-height: 21px;
  padding: 6px 13px 8px 16px;
}

.hotel-rating {
  width: 111px;
  margin-left: auto;
}
