body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  text-align: center;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  font-weight: 700;
  color: #000000;
  line-height: 26px;
  text-align: center;
  background-color: #FFFFFF;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:not([href]) {
  color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  background-color: #FFFFFF;
}


.site-navigation a:hover,
.site-navigation a:focus {
  color: #81B3D2
}

.site-navigation a:active {
  color: rgba(129,179,210,0.3);
}

.main-slogan {
  line-height: 26px;
  background-color: #FFFFFF;
}

.main-slogan-title {
  font-size: 21px;
  font-weight: 700;
}

.reasons-list {
  list-style: none;
}

.reason-marked {
  background-color: #81B3D2;
  color: #FFFFFF;
  line-height: 21px;
}

.reason-title-marked {
  font-size: 21px;
  font-weight: 700;
}

.real-city-advantages {
  background-color: #FFFFFF;
  line-height: 21px;
}

.advantages-list {
  list-style: none;
}

.advantage-title {
  font-size: 21px;
  color: #000000;
  font-weight: 700;
}

.reason-item-plain {
  background-color: #EEEEEE;
  line-height: 21px;
}

.reason-item-title {
  font-size: 21px;
  font-weight: 700;
}

.pre-map-container {
  line-height: 24px;
  background-color: #FFFFFF;
}

.description-capitalized {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.popup {
  background-color: #FFFFFF;
}

.hotel-button {
  color: #ffffff;
  background-color: #766357;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.hotel-button:hover,
.hotel-button:focus {
  background-color: #604E43
}

.hotel-button:active {
  background-color: #503E33;
  color: rgba(255,255,255,0.3);
}

.find-button {
  color: #ffffff;
  background-color: #81B3D2;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: none;
}

.find-button:hover,
.find-button:focus {
  background-color: #669EC0;
}

.find-button:active {
  background-color: #5496BD;
  color: rgba(255,255,255,0.3);
}

.plus-button {
  background-color: #F2F2F2;
  border: none;
}

.button-label {
  font-weight: 700;
  line-height: 26px;
}

.date-field,
.number-field {
  background-color: #F2F2F2;
  border: none;
  line-height: 26px;
  font-weight: 700;
}

.date-field:hover,
.number-field:hover  {
  background-color: #EBEBEB;
}

.date-field:focus,
.number-field:focus {
  background-color: #FFFFFF;
}

.main-footer {
  background-color: rgba(255,255,255,0.9);
}

.main-footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-footer-hashtag a {
  text-decoration: none;
  color: #000000;
}

.main-footer-social {
  list-style: none;
}

.main-footer-social a {
    color: #000000;
}

.main-footer-developer {
  line-height: 26px;
  color: #000000;
}

.hotel-container {
  background-color: #FFFFFF;
  text-align: left;
}

.hotel-description {
  text-align: left;
}

.hotel-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81B3D2;
}

.hotel-title a:active {
  color: rgba(0,0,0,0.3);
}

.hotel-type-price {
  color: #333333;
  line-height: 21px;
}

.hotel-links {
  font-weight: 700;
  color: #FFFFFF;
}

.hotel-details-link {
  background-color: #81B3D2;
  color: inherit;
}

.hotel-details-link:hover,
.hotel-details-link:focus {
  background-color: #669EC0;
}

.hotel-details-link:active {
  background-color: #5496BD;
  color: rgba(255,255,255,0.3);
}

.hotel-book-link {
  background-color: #766357;
  color: inherit;
}

.hotel-book-link:hover,
.hotel-book-link:focus {
  background-color: #604E43;
}

.hotel-book-link:active {
  background-color: #503E33;
  color: rgba(255,255,255,0.3);
}

.hotel-rating-number {
  background-color: #F2F2F2;
  color: #666666;
  line-height: 21px;
}

.filter {
  background-color: #41759F;
  background-image: url("../img/filter-background.png");
  background-position: top center;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.filter-section {
  border: none;
}

.filter-title,
.price-range-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter-list {
  list-style: none;
  line-height: 21px;
  text-align: left;
}

.price-range-description {
  border: 2px solid white;
  background-color: transparent;
}

.show-button {
  font: 16px;
  color: #ffffff;
  background-color: transparent;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 21px;
  border: 2px solid white;
}

.show-button:hover,
.show-button:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotel-sorting {
  background-color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}

.hotel-found {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.sorting-type {
  font-weight: 400;
}

.sorting-list,
.sorting-direction {
  list-style: none;
}

.sorting-list-item a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81B3D2;
}

.sorting-list-item a:not([href]) {
  color: #81B3D2;
}

.sorting-list-item a:hover {
  color: #81B3D2;
  border-bottom: 1px dotted #81B3D2;
}

.sorting-list-item a:focus {
  color: #000000;
}

.sorting-list-item a:active {
  color: #81B3D2;
}

.sorting-direction-item a {
  color: #CACACA;
}

.sorting-direction-item a:not([href]) {
  color: #81B3D2;
}
